@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Varela+Round&display=swap');

body{
    font-family: 'Nunito', sans-serif ;
    background: #0a837f;
}

.wrapper{
    margin: 150px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 25px;
}

.wrapper .add-box, .square-box, .notes{
    background: white;
    padding: 10px 15px;
    /* height: 200px; */
    border-radius: 5px;
}
.add-box{
    cursor: pointer;
}
.add-box, .add-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add-box p {
    font-size: 18px;
    font-weight: 600;
    color: #007ACC;
}
.add-icon {
    width: 70px;
    height: 70px;
    border: 3px dashed #007ACC;
    border-radius: 50%;
}
.add-icon i{
    font-size: 25px;
    color: #007ACC;
}